<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Productos Tunari 
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar #searchInput
      placeholder="Busca un producto en GrafTunari !" 
      [formControl]="searchQuery" (ionClear)="onSearchClear()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail item-left>
        <product-img [product]="product"></product-img>
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <h3>{{product.properties.type}}</h3>
      <p *ngIf="product[selectedPrice]">
        {{selectedPriceText}}: {{product[selectedPrice]}} Bs.
      </p>
    </ion-item>
  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab color="secondary"><ion-icon name="filing"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="secondary-light" (click)="selectPriceToShow(fab)"><ion-icon name="pricetags"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="pullNextProductsPage($event)">
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas productos">     
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
