<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Productos Tunari 
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Busca un producto en GrafTunari !" [formControl]="searchQuery">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail item-left>
        <product-img [product]="product"></product-img>
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      <h3>{{product.properties.type}}</h3>
      <p *ngIf="product.publicPackagePrice.value">
        {{product.publicPackagePrice.type}}: {{product.publicPackagePrice.value}} Bs.
      </p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="pullNextProductsPage($event)">
   <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas productos">     
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
