<ion-header>
    <ion-navbar color="primary">{{test}}
        <ion-title>
            Productos Tunari
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="showUserPage()">
                <ion-icon name="person"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="primary">
        <ion-searchbar #searchInput placeholder="Busca un producto en GrafTunari !" [formControl]="searchQuery" (ionClear)="onSearchClear()">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let product of products">
            <ion-thumbnail item-left>
                <product-img [product]="product"></product-img>
            </ion-thumbnail>
            <h2>{{product.name}}</h2>
            <h3>{{product.properties?.type}}</h3>
            <p *ngIf="product.prices && product.prices[selectedPrice]?.value">
                {{product.prices[selectedPrice].value}} Bs. / 100 Unidades
            </p>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="pullNextProductsPage($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas productos">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>